<h1>Diary for <%= @user.username %></h1>
<br>
<h4><a href="/logs/new"><button>New Log Entry</button></a></h4>
<h4><a href="/logs"><button>Public Diary</button></a></h4>
<h4><a href="/logout"><button>Log Out</button></a></h4>
<br>
<% @logs.each do |log| %>
    <ul>
        <li><h4>Log Date: <%= log.date %></h4></li>
        <li>Worked Out: <%= binary_convert(log.worked_out) %></li>
        <li>Tracked Food: <%= binary_convert(log.tracked_food) %></li>
        <li>Weight: <%= log.weight %></li>
        <li>Body Fat: <%= log.body_fat %></li>
        <li>Active Calories: <%= log.active_calories %></li>
        <li>Calories: <%= log.calories %></li>
        <% if current_user == User.find(log.user.id) %>
            <li><a href="/logs/<%= log.id %>"><button>View/Edit Log</button></a></li>
        <% end %>
        <br>
    </ul>
    <% end %>