<div class="sidebar">
    <div class="logo-text">
        <h1>Fitness App</h1>
        <h2>Goals for <%= @user.username %></h2>
    </div>
        <h4><a href="/goals/edit">Edit Goals</a></h4>
        <h4><a href="/users/<%= @user.slug %>">My Diary</a></h4>
        <h4><a href="/logs">Public Diary</a></h4>
        <h4><a href="/logout">Log Out</a></h4>
</div>
<div class="content">    
    <h4>Starting Information</h4>
        <ul>
            <li>Start Weight: <%= @user.start_weight %></li>
            <li>Start Body Fat: <%= @user.start_bodyfat.round(2)*100 %>%</li>
        <ul>
</div>
<div class="content">
    <h4>Current Goals</h4>
        <ul>
            <li>Weight Goal: <%= @goals.weight_goal %></li>
            <li>Body Fat Goal: <%= @goals.body_fat_goal.round(2)*100 %>%</li>
            <li>Start Calorie Goal: <%= @goals.start_calorie_goal %></li>
        </ul>
</div>





