<div class="sidebar">
    <div class="logo-text"    
        <h1>Fitness App</h1>
        <h2><%= @user.username %></h2>
        <h3>Vew/Edit/Delet the log for <%= @log.date %></h3>
    </div>
        <h4><a href="/logs/<%= @log.id %>/edit">Edit</a></h4>
        <h4><a href="/logs/<%= @log.id %>/delete">Delete</a></h4>
        <h4><a href="/users/<%= @user.slug %>">My Diary</a></h4>
        <h4><a href="/logs">Public Diary</a></h4>
        <h4><a href="/logout">Log Out</a></h4>
</div>
<div class="content"
    <ul>
        <li>Worked Out: <%= binary_convert(@log.worked_out) %></li>
        <li>Tracked Food: <%= binary_convert(@log.tracked_food) %></li>
        <li>Weight: <%= @log.weight %></li>
        <li>Body Fat: <%= (@log.body_fat.to_f*100).round(2) %>%</li>
        <li>Active Calories: <%= @log.active_calories %></li>
        <li>Calories: <%= @log.calories %></li>
    </ul>
</div>