<h1>Fitness App</h1>
<h2><%= @user.username %></h2>
<h3>Vew/Edit/Delet the log for <%= @log.date %></h3>
<br>
<ul>
    <li>Worked Out: <%= binary_convert(@log.worked_out) %></li>
    <li>Tracked Food: <%= binary_convert(@log.tracked_food) %></li>
    <li>Weight: <%= @log.weight %></li>
    <li>Body Fat: <%= @log.body_fat %></li>
    <li>Active Calories: <%= @log.active_calories %></li>
    <li>Calories: <%= @log.calories %></li>
</ul>
<br>
<h4><a href="/logs/<%= @log.id %>/edit"><button>Edit</button></a></h4>
<h4><a href="/logs/<%= @log.id %>/delete"><button>Delete</button></a></h4>
<h4><a href="/users/<%= @user.slug %>"><button>My Diary</button></a></h4>
<h4><a href="/logs"><button>Public Diary</button></a></h4>
<h4><a href="/logout"><button>Log Out</button></a></h4>